@charset "utf-8";//设置编码格式
// @import "compass/reset";//引入重置模块
$wrap_width:1070px;
$size100:100%;
$gray:(f5:#f5f5f5,f4:#f4f4f4,fc:#fcfcfc);

%wrap100 {
    width:$size100;
    height:$size100;
}
@mixin border($style:solid, $width:1px, $color:#f5f5f5) {
    border: $style $width $color;
}
@font-face {
    font-family: iconfont;
    src: url(../fonts/iconfont.woff) format("woff");
}
@font-face{
    font-family: iconlogin;
    src: url(../fonts/iconlogin.woff) format("woff");
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
}
.iconlogin{
    font-family:"iconlogin";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
}
.clearfix::after{
    content: "";
    height: 0;
    clear: both;
    overflow: hidden;
    display: block;
    visibility: hidden;
}

.wrap{
    width:$wrap_width;
    margin:0 auto;
    position: relative;
}
body{
    color: #333;
    background-color: #f5f5f5;
    font:(12px "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53")
}
a{
    text-decoration: none;
    color: #666;
}